// Imports
@import "components/resets";
@import "components/bigMediaQuery";
@import "components/Mixins";

// Main Settings
#cards {
  @include center();
  width: 100%;
  height: 100%;
}

.card {
  @include cardStyle();
}

.cardCont {
  @include cardCont();

  h1 {
    margin-top: 10px;
    text-align: center;
  }

  h1:nth-child(1) {
    font-size: 2.5em;
  }

  h1:nth-child(2) {
    font-size: 2em;
  }
}

.card1 {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.358);
}

.card2 {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 255, 0.541);

  h1:nth-child(2) {
    color: blue;
  }

  button {
    background: blue;
  }
}

.card3 {
  box-shadow: 0px -5px 10px rgba(0, 0, 255, 0.474),
              0px 5px 10px #8000ff48;

  h1:nth-child(2) {
    background: linear-gradient(
      to right,
      blue,
      #8000ff
    );
    background-clip: text;
    color: transparent;

    width: 100%;
    display: inline-block;
  }

  button {
    background: linear-gradient(
      to right,
      blue,
      #8000ff
    );
  }
}

button {
  @include buttonStyle();
  width: 50%;
  align-self: center;
}

span {
  font-size: .7em;
}