@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: #211f22;
  color: white;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow-x: clip;
  scroll-behavior: smooth;
}

ul li {
  display: inline;
  list-style: none;
  margin: 10px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1.2em;
  line-height: 2em;
  margin: 16px 0px;
}

a {
  text-decoration: none;
  color: white;
}

section#about span {
  background: linear-gradient(to right, #e32e64, #35d08f);
  padding: 3px 8px;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  section#about > div {
    display: flex;
    flex-flow: column wrap;
  }
  section#about > div p {
    width: 40%;
  }
  section#about > div p:nth-child(2) {
    align-self: flex-end;
  }
}
header {
  background: linear-gradient(to right, #4f2d62, #ac39ea);
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  z-index: 1;
}
header #mainHeader {
  width: 98%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

section#intro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
}
section#intro > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e32e64, #35d08f);
  width: 70%;
  height: 600px;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}
section#intro #mainCont {
  background: url("images/alex.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
section#intro h1 {
  font: bold 5em "Playfair Display", serif;
  position: absolute;
  top: 80%;
  left: 8%;
}

section#about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 800px;
}
section#about > div {
  width: 70%;
}
section#about h1::after {
  content: "";
  width: 100px;
  height: 100px;
}
section#about p {
  width: 100%;
  margin: 40px;
}

section#projects .projGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 0px auto;
  width: 90%;
  height: 90%;
}
section#projects picture, section#projects img {
  width: 250px;
  border-radius: 10px;
}
section#projects h1 {
  font: bold 4em serif;
  margin: 50px;
  display: flex;
  justify-content: flex-end;
}
section#projects h1 span {
  background: rgba(174, 129, 191, 0.3921568627);
  height: 100%;
}

section#clients {
  padding: 30px;
}
section#clients .clientGrid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 20px;
}
section#clients .clientGrid .client {
  background: #252525;
  padding: 40px;
  border-radius: 10px;
}
section#clients picture {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
section#clients picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
section#clients h1 {
  font: bold 4em serif;
  margin: 50px;
  display: flex;
  justify-content: flex-end;
}
section#clients h1 span {
  background: rgba(174, 129, 191, 0.3921568627);
  height: 100%;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 50px;
}
footer > div {
  width: 90%;
  padding: 50px;
}
footer #navFooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 1px;
}
footer ul li {
  display: block;
  margin: 15px 0px;
}/*# sourceMappingURL=index.css.map */