// Imports
@import "components/resets";
@import "components/mixins";
@import "components/mediaQueries";

// Variables
$imgBg: no-repeat center;

$colorPrim: pink;
$colorSex: cyan;
$colorThird: purple;

// Header Settings
header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 1;
  
  #mainHeader {
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}


// Main Settings
section#intro {
  @include center;
  width: 100%;
  height: 750px;
  
  #color {
    background: linear-gradient(
      to right,
      purple,
      rgb(205, 56, 205)
      );
      width: 100%;
      height: 400px;
      position: absolute;
      top: 0;
  }
  
  #mainCont {
    background: url("images/alex.jpg") $imgBg;
    background-size: cover;
    
    width: 70%;
    height: 600px;
    margin: 20px;
    border: 15px solid blue;
    border-radius: 5px;

    position: relative;
    z-index: 1; 
  }


  h1 {
    font: bold 7em serif;
    position: absolute;
    top: 80%;
    left: 8%;
  }
}

section#about {
  @include center;
  height: 800px;

  > div { width: 70%; }

  h1::after {
    content: '';
    width: 100px;
    height: 100px;
  }

  p {
    width: 40%;
    margin: 40px;
  }
}

section#projects {
  .projGrid {
    @include flexColumns(10px);

    width: 100%;
    height: 100%;
  }

  picture, img {
    width: 100px;
    margin: 20px;
  }
}

section#clients {
  padding: 30px;

  .clientGrid {
    @include flexColumns(20px);

    .client {
      background: #151515;

      padding: 40px;
      border-radius: 10px;
    }
  }

  picture {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%
    }
  }
}

// Footer Settings
footer {
  @include flexColumns(50px);

  > div {
    width: 90%;
    padding: 50px;
  }

  #navFooter {
    @include flexColumns(1px);
  }

  ul li {
    display: block;
    margin: 15px 0px;
  }
}