@charset "UTF-8";

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

html, body {
  background: #060606;
  color: white;

  width: 100%;
  max-width: 100%;
  height: 100vh;

  overflow-x: clip;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: 
  "nav header"
  "nav main"
  "nav footer";
  grid-template-columns: 300px ;
  grid-template-rows: 90px 90% 50px;
}

:root {
  --mainFont: "Roboto", sans-serif;
}

fieldset {
  border: none;
}

/* Header Settings */
header {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  width: 600px;

  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

header button {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border: none;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
}

/* Nav Settings */
nav {
  border-right: 1px solid white;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  grid-row: 1 / span 3;
}

nav > div {
  width: 70%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.icon {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav fieldset {
  width: 70%;
  margin: 20px 0px;
}

nav input {
  margin: 5px 10px;
}

nav label {
  font-size: .9em;
}

nav legend {
  font-size: 1.2em;
  margin: 10px 0px;
}

/* Main Settings */
main {
  grid-column: 2 / span 2;
}

.brands button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* Products Grid Settings */
.products {
  padding: 30px;
}

.grid {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.prodCont {
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
}

/* Footer Settings */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}