@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  background: #252525;
  color: white;

  width: 100vw;
  min-width: 100%;
  height: 100vh;

  overflow-x: clip;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Header Settings */
header {
  height: 90px;
  border-bottom: 2px solid white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  font-weight: bold;
  margin: 10px;
}

/* Main Settings */
main {
  height: calc(100% - 90px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv {
  width: 70%;
}

/* Forms */
legend {
  opacity: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  color: black;
  
  width: 50%;
  padding: 6px 8px;
  margin: 10px;
  border-radius: 5px;
}

button, input[type="submit"] {
  background: blue;
  padding: 10px 20px;
  margin: 10px;

  cursor: pointer;
}