// Layouts Mixins
@mixin center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flexColumns($gap) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: $gap;
}

@mixin grid($gap) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $gap;
  margin: 0px auto;
}

@mixin mobileGrid($gap) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap;
  margin: 0px auto;
}

// Title Mixins
@mixin sectTitle {
  font: bold 4em serif;
  margin: 50px;
  display: flex;
  justify-content: flex-end;

  span {
    background: $labelColor;
    height: 100%;
  }
}