@charset "UTF-8";

// Imports
@import "components/resets";
@import "components/header";

// General elements Settings
ul {
  li {
    list-style-type: none;
    display: inline-block;
    min-width: 100px;
    border-radius: 10px;
  }
}

li a {
  width: 100%;
  height: 100%;
  padding: 20px;

  text-decoration: none;

  display: block;
}

// Class Settings
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Main Settings
section {
  background: crimson;
  height: 20vh;
}

article {
  background: skyblue;
  height: 40vh;
}

footer {
  background: teal;
  height: 15vh;
}
