// Variables
$bg-img: no-repeat center;
$bg-img-size: cover;

$about-headers: bold 4em serif;

// CSS Class Settings
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackButton {
  background: #000;
  color: white;
  border: none;
  cursor: pointer;

  a {
    color: white;
  }
}

// Intro Section
section#intro {
  background: url("imgs/trees.avif") $bg-img;
  background-size: cover;

  height: 800px;
  text-align: center;

  div {
    width: 85%;
  }

  h1 {
    color: white;
    font: bold 4em serif;
  }
}

// About Section
section#about {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;

  > div {
    width: 90%;
    margin: 30px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    div {
    width: 100%;
    margin: 10px;

      img {
        width: 100%;
      }
    }
  }

  h1 {
    font: $about-headers;
  }
}

section#gallery {
  width: 100%;
  text-align: center;
  
  h1 {
    font: bold 2em sans-serif;
    margin-bottom: 100px;
  }
  
  .album {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    picture {
      width: 400px;
      margin: 30px;
    }
  } 
}

section#form {
  width: 100%;
  height: 700px;
  
  div {
    width: 100%; 
    margin: 0px 10px;
  }

  input {
    padding: 8px;
    margin: 10px 0px;

    width: 49.5%;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    resize: vertical;
  }
}